.Footer {
    color: white;
    font-size: 24px;
    font-weight: 800;
    background-color: #333;
    width: 1512px;
    height: 124px;
}

.out-site {
    display: flex;
}

.out-start {

}

.out-end {
    text-align: right;
}

.footer-contents {
    display: flex;
    justify-content: center;
    
}