.Header {
    background-color: #333;
    width: 1512px;
    height: 124px;
    display: flex;
    color: white;
}

.Header-logo {
    display: flex;
    align-items: center;
}

.Sellect-tab {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    align-items: center;
}

.Logout {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 50px;
    width: 140px;
    height: 42px;
    font-size: 24px;
    
}