<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="SignIn.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check and Talk</title>
  </head>

  <body>
    
    <div class="rightScreen">
      <div class="Title">
        <h1>Check and Talk</h1>
      </div>
      <div class="Google">
        <img src="../assets/GoogleLogo.svg" />
        <span>Google</span>
      </div>
      <div class="Github">
        <img src="../assets/GithubLogo.svg" />
        <span>Github</span>
      </div>
      <div class="Facebook">
        <img src="../assets/FacebookLogo.svg" />
        <span>Facebook</span>
      </div>
    </div>

    <div class="leftScreen">
      <div class="logoVerticla">
        <img src="../assets/logoVertical.svg" >
      </div>
    </div>

  </body>
</html>
